@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.notification-enter {
  animation: slideIn 0.3s ease-out forwards;
}

.notification-exit {
  animation: fadeOut 0.3s ease-out forwards;
}
